autopep8==1.5.4
cellular-automaton==1.0.7
cloudpickle==1.6.0
cycler==0.10.0
dataclasses==0.6
future==0.18.2
gym==0.17.3
-e git+git@github.com:/boettiger-lab/gym_wildfire.git@4de7b757d685caab32996c023a613b1905178aaa#egg=gym_wildfire
kiwisolver==1.3.1
matplotlib==3.3.3
numpy==1.19.4
pandas==1.1.4
Pillow==8.0.1
pycodestyle==2.6.0
pygame==2.0.0
pyglet==1.5.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
recordclass==0.14.3
scipy==1.5.4
six==1.15.0
stable-baselines3==0.10.0
toml==0.10.2
torch==1.7.0
tqdm==4.52.0
typing-extensions==3.7.4.3
vim==0.0.1
